%button.btn.btn-primary.btn-lg.graph-modal{"data-target" => "#myModal", "data-toggle" => "modal"}
  ?
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          \&times;
        %h4#myModalLabel.modal-title
          Reading & Using This Graph
      .modal-body
        This graph is made custom based on the options you choose--Y axis, X axis, and date range. The bars in each category (weekday, time of day) are stacked like stairs: Instead of looking at the bars head-on, like a clustered bar chart, the bars have been turned sideways so you are seeing them from lowest to highest.
        %br
        %br
        Note that if you choose a very small date range (say, less than one month), the bars will look a little funky!
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
          Got it.
.row.inline-dropdown-wrapper 
  .inline-dropdown-text Make a bar chart! First...
  %script{:src=>"../graphs-campaigns.js", :type=>"text/javascript"}
  %div{:class=>"dropdown inline-dropdown xaxis"}
    %button{:class=>"btn btn-primary dropdown-toggle", :type=>"button", :id=> "dropdownMenu1", :data=>{:toggle=>"dropdown"}} Choose Your X Axis <b class="caret"></b>
    %ul{:class=>"dropdown-menu", :role=>"menu"} 
      %li{:role=>"presentation"}
        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"#"} Weekdays
      %li{:role=>"presentation"} 
        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"#"} Times

  .inline-dropdown-text and then...
  %script{:src=>"../graphs-c.js", :type=>"text/javascript"}
  %div{:class=>"dropdown inline-dropdown yaxis"}
    %button{:class=>"btn btn-primary dropdown-toggle", :type=>"button", :id=> "dropdownMenu1", :data=>{:toggle=>"dropdown"}} Choose Your Y Axis <b class="caret"></b>
    %ul{:class=>"dropdown-menu", :role=>"menu"} 
      %li{:role=>"presentation"}
        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"#"} Open Rate
      %li{:role=>"presentation"} 
        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"#"} Revenue Created
      %li{:role=>"presentation"} 
        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"#"} Unsubscribes
  = render 'campaign/graphform'
%h1.graphs
%h3.graphs
.svg-wrapper
  .svg